<%- model_class = List -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @list.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:done) %>:</strong></dt>
  <dd><%= @list.done %></dd>
  <dt><strong><%= model_class.human_attribute_name(:public) %>:</strong></dt>
  <dd><%= @list.public %></dd>
</dl>

<div class="form-actions">
  <%= link_to t("helpers.links.back"), lists_path, :class => 'btn'  %>
  <%= link_to t("helpers.links.edit"), edit_list_path(@list), :class => 'btn' %>
  <%= link_to t("helpers.links.destroy"), list_path(@list), :method => 'delete', :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-danger' %>
</div>

<div class="span4">
  <h2>Tasks</h2>
  <div class="well">
    <ul id="tasks">
      <%= render @list.tasks %>
    </ul>
  </div>
</div>

<div class="span3">
  <h2>New Task</h2>
  <div id="task_form">
    <%= render :partial => "/tasks/form", :locals => { :list => @list, :task => @task }%>
  </div>
</div>
