<%= simple_form_for [list, task], :remote => true, :html => { :class => 'form-vertical', :id => "new_task" } do |f| %>
  <%= f.input :title %>
  <%= f.input :done %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), lists_path, :class => 'btn' %>
  </div>
<% end %>
